.aboutPage {
  background: var(--clr-bg-1);
  min-height: calc(100vh - 5rem - 9rem);
}
.sectionCenter {
  width: 90vw;
  margin: auto;
  max-width: 1170px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.aboutImg {
  border-radius: 4rem;
  display: none;
}

.aboutText {
  position: relative;
  bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .sectionCenter {
    width: 90vw;
  }
}
@media screen and (min-width: 768px) {
  .aboutCenter {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
  }
  .aboutImg {
    display: block;
    grid-column: 1 / 5;
    border-radius: 4rem;
  }
  .aboutText {
    position: relative;
    bottom: 2rem;
    grid-column: 6 / -1;
    text-align: justify;
  }
}
