.aboutPage {
  background: var(--clr-bg-1);
  min-height: calc(100vh - 5rem - 9rem);
}
.sectionCenter {
  width: 90vw;
  margin: auto;
  max-width: 1170px;
}

.underline {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-2);
  opacity: 0.7;
  position: absolute;
  right: 50%;
  --translateX: -4.5rem;
  --translateY: 4rem;
  --rotate: 0deg;
  transform: translateX(var(--translateX)) translateY(var(--translateY))
    rotate(var(--rotate));
}
.sectionCenter h1,
h2 {
  text-align: center;
}
.aboutCenter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 5rem;
  padding-top: 5rem;
  justify-content: center;
  align-self: center;
}

.aboutText {
  grid-column: 1/-1;
}
/* .underline {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-2);
  opacity: 0.7;
  position: absolute;
  right: 50%;
  --translateX: -4.5rem;
  --translateY: 3.8rem;
  --rotate: 0deg;
  transform: translateX(var(--translateX)) translateY(var(--translateY))
    rotate(var(--rotate));
} */
.aboutText img {
  width: 80%;
  object-fit: cover;
  background-position: center;
  position: relative;
  left: 10%;
}

.aboutText {
  position: relative;
  bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .sectionCenter {
    width: 90vw;
  }
}

/* @media screen and (min-width: 300px) {
  
} */
