.blog {
  display: block;
  margin-bottom: 2rem;
  background: var(--clr-bg-1);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  /* height: 100%; */
}
.blog:hover {
  box-shadow: var(--dark-shadow);
  transform: scale(1.02);
}
.blog article {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.blogCard {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.blogImg {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
}
.blogCard {
  padding: 1.5rem 1rem;
}
.blogCard h4 {
  color: var(--clr-primary-2);
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.blogFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogFooter p {
  margin-bottom: 0;
  font-weight: bold;
  color: var(--clr-primary-1);
}
.blogFooter p:first-of-type {
  display: inline-block;
  background: rgb(212, 210, 210);
  color: var(--clr-bg-1);
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}
@media screen and (min-width: 576px) {
  .blogsCenter {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    column-gap: 2rem;
  }
  .blogImg {
    height: 17.5rem;
  }
}
@media screen and (min-width: 850px) {
  .blogImg {
    height: 13.75rem;
  }
}
