.section {
  padding-bottom: 4.5rem;
  padding-top: 3rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.underline {
  width: 2rem;
  height: 2rem;
  background: var(--clr-primary-2);
  opacity: 0.7;
  position: absolute;
  right: 50%;
  --translateX: -2.2rem;
  --translateY: 4rem;
  --rotate: 0deg;
  transform: translateX(var(--translateX)) translateY(var(--translateY))
    rotate(var(--rotate));
}

.sectionCenter {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(2, 4.5rem);
  grid-gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo {
  display: grid;
  grid-gap: 0.5rem;
  color: var(--clr-primary-1);
  font-weight: 600;
}

.logo:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .section {
    width: 95vw;
    margin: 0 auto;
    max-width: 1170px;

    /* background: var(--clr-bg-1); */
  }

  .sectionCenter {
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: repeat(4, 6rem);
    grid-gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
